// Variables
$topbar-height: 100px;
$sidebar-width: 150px;
$topbar-title-margin-top: 30px;
$topbar-title-height: 32px;
$topbar-title-border-thickness: 4px;
$topbar-title-color: #806296;
$topbar-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
$sidebar-background-color: #2D1D43;
$sidebar-link-color: white;
$sidebar-link-font-size: 20px;
$sidebar-link-margin-bottom: 48px;
$sidebar-logo-margin-bottom: 100px;
$padding-top-logo: 50px;

// Mixins
@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Base styles
body {
  margin: 0;
  background-color: #EEEFF2;
}

// Topbar
.topbar {
  background-color: #FFFFFF;
  height: $topbar-height;
  width: calc(100% - #{$sidebar-width});
  position: fixed;
  top: 0;
  left: $sidebar-width;
  padding-left: 40px;
  border-bottom: 1px solid #000;
  box-shadow: $topbar-shadow;
  z-index: 9999;
}

.topbar-title {
  color: $topbar-title-color;
  font-size: $topbar-title-height;
  margin-top: $topbar-title-margin-top;
  margin-left: 20px;
  border-bottom: $topbar-title-border-thickness solid $topbar-title-color;
  display: inline-block;
  height: calc(100% - #{$topbar-title-margin-top} - #{$topbar-title-border-thickness} + 2px);
}

// Sidebar
.sidebar {
  width: $sidebar-width;
  height: 100vh;
  background-color: $sidebar-background-color;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;

  .logo {
    align-self: center;
  }

  .agl{
    height: 150px;
    width: 150px;
  }

  a {
    @include center-flex;
    color: $sidebar-link-color;
    text-decoration: none;
    font-size: 24px;
    margin-bottom: $sidebar-link-margin-bottom;

      i {
        font-family: 'Font Awesome 5 Free';
      }

      &.active {
        border-color: #806296; 
        border-style: solid;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #806296;
        margin-bottom: 36px;
        margin-top: -15px;
    }
  }
}
