// Variables
$topbar-height: 100px;
$sidebar-width: 150px;
$font-size-text: 16px;
$font-size-title: 24px;
$topbar-title-margin-top: 30px;
$topbar-title-height: 32px;
$topbar-title-border-thickness: 4px;
$color-current-page: #404152;
$color-refresh-icon: #806296;
$link-default-color: #666775;
$color-title-text-link: #2D1D43;
$section-shadow-color: rgba(0, 0, 0, 0.1);
$title-background-color: #FFFFFF;
$additional-info-padding: 20px;
$additional-info-border-radius: 5px;
$additional-info-shadow: 0px 5px 5px $section-shadow-color;
$block-width: 70%;
$block-gap: 20px;
$padding-separator: 5px;

// Mixins
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin div-blocks{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    position: relative;
    left: $sidebar-width;
    width: calc(100% - #{$sidebar-width});
    font-family: 'Inter', sans-serif;
}

@mixin additional-info-bar{
    width: 90.5%;
    height: 100%;
    padding: $additional-info-padding;
    border-radius: $additional-info-border-radius;
    box-shadow: $additional-info-shadow;
    display: grid;
    align-items: center;
}

// Global
body {
    margin: 0;
    background-color: #EEEFF2;
}

.dashboard {
    margin-top: $topbar-height + 50px; 
    margin-left: $sidebar-width + 65px; 
    font-family: 'Inter', sans-serif;

    a.current-page {
        color: $color-current-page
    }

    a {
        color: $link-default-color; 
        &:hover {
            color: $color-title-text-link; 
        }
    }
}

.dashboard a {
    text-decoration: none;
}

// Index
.additional-info {
    @include div-blocks;
    margin-bottom: 20px;

    .title-additional-info {
        margin: 0;
        @include flex-center;
        width: 100%;
        padding-top: 10px;
    }

    .title-additional-info-bar {
        @include additional-info-bar;
        background-color: $color-title-text-link;
        display: grid;
        grid-template-columns: repeat(auto-fill, 400px);
    }

    .title-word {
        color: $title-background-color;
        font-weight: bold;
        font-size: $font-size-text;
    }

    .section-additional-info {
        margin: 0;
        @include flex-center;
        width: 100%;
        padding-top: 10px;
    }

    .section-additional-info-bar {
        @include additional-info-bar;
        background-color: $title-background-color;
        grid-template-columns: repeat(auto-fill, 400px) repeat(2, 200px);
        position: relative;
    }

    .section-word {
        color: $color-title-text-link;
        font-size: $font-size-text;
    }

    .section-word-date {
        color: red; 
        font-size: $font-size-text;
    }

    a {
        color: $color-title-text-link;
        text-decoration: none;
    }

    .action-link {
        padding-left: 20px;
    }

    .create-button {
        width: 135px;
        height: 30px;
        background-color: $color-refresh-icon;
        border-radius: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        cursor: pointer;
        position: absolute;
        bottom: calc(-115px + #{$additional-info-padding * 2});
        left: 64px;
        font-family: 'Inter', sans-serif;
        padding: 10px;
        box-shadow: $additional-info-shadow;
    }

    .button-content i {
        margin-right: 10px;
    }
}
/* Details */

.separator{
    padding-left: $padding-separator;
    padding-right: $padding-separator;
}

.additional-details {
    @include div-blocks;
    width: calc(100% - #{$sidebar-width});

    .title-details{
        padding-left: 65px;
        text-align: left;
    }

    .title-details p {
        margin: 20px 0;
        align-self: flex-start;
    }

    .title-node{
        font-size: $font-size-title;
        font-weight: 600;
    }

    i.refresh-icon {
        font-size: $font-size-text;
        color: $color-refresh-icon;
        margin-left: 5px;
        cursor: pointer;
    }
}

.blocks-container {
    display: grid;
    grid-template-columns: repeat(3, 500px);
    grid-gap: $block-gap;
    position: relative; 
    left: 192px;
    width: calc(100% - 215px); 
    font-family: 'Inter', sans-serif;

    .block {
        width: 90%;
        padding: 20px;
        position: relative;
    }

    .block-title{
        background-color: #2D1D43;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-size: $font-size-title;
        padding: 20px;

        span {
            color: #FFFFFF;
        }
    }

    .edit-icon {
        position: absolute;
        right: 50px;
    }
    
    .edit-icon i {
        color: #FFFFFF;
        font-size: $font-size-text;
    }

    .block-info{
        background-color: #FFFFFF;
        font-size: $font-size-text;
        padding: 15px;
        border-bottom: 1px solid #000;
        position: relative;

        span {
            display: inline-block;
            margin-left: 10px;
        }

        .block-info-value {
            position: absolute;
            right: 150px;
        }

        .block-info-value-status {
            position: absolute;
            right: 105px;
            color: green;
            font-weight: 600;
        }

        span:last-child {
            margin-right: 0;
            margin-left: 0;
        }
    }
}

/* Configure */

.title-configure{
    font-size: $font-size-title;
}

.value-boxes{
    position: relative; 
    left: 215px;
    font-family: 'Inter', sans-serif;

    input {
        border: 1px solid #ccc;
        width: 300px;
        height: 40px;
        box-sizing: border-box;
        transition: border-color 0.5s;
    }
    
    .value-box input[type="text"] {
        padding-left: 10px;
    }

    .save-button{
        width: 90px;
        height: 20px;
        background-color: $color-refresh-icon;
        border-radius: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        cursor: pointer;
        position: absolute;
        bottom: calc(-115px + #{$additional-info-padding * 2});
        font-family: 'Inter', sans-serif;
        padding: 10px;
        box-shadow: $additional-info-shadow;
        text-decoration: none;
    }

    .save-button-box{
        display: flex;
        align-items: center;

        i {
            margin-left: 15px;
        }
    }
}

/* Accept */

.value-boxes-accept{
    position: relative; 
    left: 215px;
    font-family: 'Inter', sans-serif;
    bottom: 25px;

    .back-button-accept{
        width: 90px;
        height: 20px;
        background-color: $color-refresh-icon;
        border-radius: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        cursor: pointer;
        position: absolute;
        bottom: calc(-115px + #{$additional-info-padding * 2});
        font-family: 'Inter', sans-serif;
        padding: 10px;
        box-shadow: $additional-info-shadow;
        text-decoration: none;
    }

    .save-button-box{
        display: flex;
        align-items: center;

        i {
            margin-right: 15px;
        }
    }
}

/* Floorplan */
.additional-details{
    margin-top: $topbar-height + 25px; 
    font-family: 'Inter', sans-serif;
}

.upload-box {
    margin-top: 30px;
    font-family: 'Inter', sans-serif;

    .upload-label {
        display: block;
        font-size: 16px;
        color: #333;
        margin-bottom: 25px;
        font-weight: 600;
    }

    .upload-input {
        display: block;
        border: none;
        background-color: #f0f0f0;
    }

    .upload-input:focus {
        outline: none;
        background-color: #e0e0e0;
        border: none;
        box-shadow: $additional-info-shadow;
    }

    /* Style the button part of the input */
    .upload-input::-webkit-file-upload-button {
        background-color: #806296;
        color: white;
        cursor: pointer;
        border: none;
        box-shadow: $additional-info-shadow;

    }

    /* Optionally, style for other browsers */
    .upload-input::-moz-file-upload-button {
        background-color: #806296;
        color: white;
        cursor: pointer;
        border: none;
        box-shadow: $additional-info-shadow;
    }

    .upload-input::file-selector-button {
        background-color: #806296;
        color: white;
        padding: 10px 20px;
        border-radius: 5%;
        cursor: pointer;
        border: none;
        box-shadow: $additional-info-shadow;
    }
}
