body {
  margin: 0;
  background-color: #EEEFF2;
}

.dashboard {
  margin-top: 150px;
  margin-left: 215px;
  font-family: "Inter", sans-serif;
}
.dashboard a.current-page {
  color: #404152;
}
.dashboard a {
  color: #666775;
}
.dashboard a:hover {
  color: #2D1D43;
}

.dashboard a {
  text-decoration: none;
}

.additional-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  position: relative;
  left: 150px;
  width: calc(100% - 150px);
  font-family: "Inter", sans-serif;
  margin-bottom: 20px;
}
.additional-info .title-additional-info {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 10px;
}
.additional-info .title-additional-info-bar {
  width: 90.5%;
  height: 100%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  display: grid;
  align-items: center;
  background-color: #2D1D43;
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
}
.additional-info .title-word {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
}
.additional-info .section-additional-info {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 10px;
}
.additional-info .section-additional-info-bar {
  width: 90.5%;
  height: 100%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  display: grid;
  align-items: center;
  background-color: #FFFFFF;
  grid-template-columns: repeat(auto-fill, 400px) repeat(2, 200px);
  position: relative;
}
.additional-info .section-word {
  color: #2D1D43;
  font-size: 16px;
}
.additional-info .section-word-date {
  color: red;
  font-size: 16px;
}
.additional-info a {
  color: #2D1D43;
  text-decoration: none;
}
.additional-info .action-link {
  padding-left: 20px;
}
.additional-info .create-button {
  width: 135px;
  height: 30px;
  background-color: #806296;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  cursor: pointer;
  position: absolute;
  bottom: calc(-115px + 40px);
  left: 64px;
  font-family: "Inter", sans-serif;
  padding: 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.additional-info .button-content i {
  margin-right: 10px;
}

/* Details */
.separator {
  padding-left: 5px;
  padding-right: 5px;
}

.additional-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  position: relative;
  left: 150px;
  width: calc(100% - 150px);
  font-family: "Inter", sans-serif;
  width: calc(100% - 150px);
}
.additional-details .title-details {
  padding-left: 65px;
  text-align: left;
}
.additional-details .title-details p {
  margin: 20px 0;
  align-self: flex-start;
}
.additional-details .title-node {
  font-size: 24px;
  font-weight: 600;
}
.additional-details i.refresh-icon {
  font-size: 16px;
  color: #806296;
  margin-left: 5px;
  cursor: pointer;
}

.blocks-container {
  display: grid;
  grid-template-columns: repeat(3, 500px);
  grid-gap: 20px;
  position: relative;
  left: 192px;
  width: calc(100% - 215px);
  font-family: "Inter", sans-serif;
}
.blocks-container .block {
  width: 90%;
  padding: 20px;
  position: relative;
}
.blocks-container .block-title {
  background-color: #2D1D43;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 24px;
  padding: 20px;
}
.blocks-container .block-title span {
  color: #FFFFFF;
}
.blocks-container .edit-icon {
  position: absolute;
  right: 50px;
}
.blocks-container .edit-icon i {
  color: #FFFFFF;
  font-size: 16px;
}
.blocks-container .block-info {
  background-color: #FFFFFF;
  font-size: 16px;
  padding: 15px;
  border-bottom: 1px solid #000;
  position: relative;
}
.blocks-container .block-info span {
  display: inline-block;
  margin-left: 10px;
}
.blocks-container .block-info .block-info-value {
  position: absolute;
  right: 150px;
}
.blocks-container .block-info span:last-child {
  margin-right: 0;
  margin-left: 0;
}

/* Configure */
.title-configure {
  font-size: 24px;
}

.value-boxes {
  position: relative;
  left: 215px;
  font-family: "Inter", sans-serif;
}
.value-boxes input {
  border: 1px solid #ccc;
  width: 300px;
  height: 40px;
  box-sizing: border-box;
  transition: border-color 0.5s;
}
.value-boxes .value-box input[type=text] {
  padding-left: 10px;
}
.value-boxes .save-button {
  width: 90px;
  height: 20px;
  background-color: #806296;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  cursor: pointer;
  position: absolute;
  bottom: calc(-115px + 40px);
  font-family: "Inter", sans-serif;
  padding: 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.value-boxes .save-button-box {
  display: flex;
  align-items: center;
}
.value-boxes .save-button-box i {
  margin-left: 15px;
}/*# sourceMappingURL=style.css.map */