// Variables
$topbar-height: 100px;
$sidebar-width: 150px;
$topbar-title-margin-top: 30px;
$topbar-title-height: 32px;
$topbar-title-border-thickness: 4px;

body {
    margin: 0;
    background-color: #EEEFF2;
}
.dashboard {
    margin-top: 150px; /* Adjust the margin-top as needed */
    margin-left: 200px;
    font-family: 'Inter', sans-serif;
  }

.topbar {
    background-color: #FFFFFF;
    height: $topbar-height;
    width: calc(100% - #{$sidebar-width});
    position: fixed;
    top: 0;
    left: $sidebar-width;
    padding-left: 40px;
    border-bottom: 1px solid #000;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1); /* Add shadow effect */
}

.topbar-title {
    color: #806296; /* Color for the title */
    font-size: $topbar-title-height; /* Adjust font size as needed */
    margin-top: $topbar-title-margin-top;
    margin-left: 20px;
    border-bottom: $topbar-title-border-thickness solid #806296; /* 4px thick stroke under the title */
    display: inline-block; /* Make the title div as wide as its content */
    height: calc(100% - #{$topbar-title-margin-top} - #{$topbar-title-border-thickness} + 2px);
}

.additional-info {
    display: flex;
    justify-content: space-between; /* Distribute contents evenly */
    align-items: center; /* Center content vertically */
    position: fixed;
    margin-bottom: 20px;
    top: $topbar-height + 100px; /* Position below the topbar */
    left: $sidebar-width;
    width: calc(100% - #{$sidebar-width});
    font-family: 'Inter', sans-serif;
}

.title-additional-info {
    margin: 0 30px 30px 30px;
    display: flex;
    justify-content: center; /* Align content in the center horizontally */
    width: calc(100%);
    padding: 20px; /* Add padding */
}

.title-additional-info-bar {
    background-color: #2D1D43; /* Background color */
    width: 100%; /* Match the width of the parent */
    height: 100%; /* Match the height of the parent */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);

}

.title-word {
    color: #FFFFFF;
    font-weight: bold;
    margin-right: 200px;
    font-size: 16px;
}

.info-item {
    background-color: #FFFFFF;
}

.sidebar {
    width: $sidebar-width;
    height: 100vh;
    background-color: #2D1D43;
    position: fixed; /* Fixed position to stay at the left */
    top: 0; /* Position at the top */
    left: 0; /* Position at the left */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
    z-index: 1; /* Ensure sidebar is on top of the vertical bar */

    .logo {
        margin-bottom: 100px;
        color: white;
    }

    a {
        display: block;
        color: white;
        text-decoration: none;
        font-size: 20px;
        margin-bottom: 48px;

        i {
            font-family: 'Font Awesome 5 Free';
        }
    }
}
